<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no2114_2127.project.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HappyBirthDay">
        <activity
            android:name=".SettingActivity"
            android:exported="false"
            android:theme="@style/Theme.HappyBirthDay.Splash3"/>
        <activity
            android:name=".MypageActivity"
            android:exported="false"
            android:theme="@style/Theme.HappyBirthDay.Splash3" />
        <activity
            android:name=".CerdMakeingPageActivity"
            android:exported="true"
            android:theme="@style/Theme.HappyBirthDay.Splash2"></activity>
        <activity
            android:name=".CerdMakePageActivity"
            android:exported="true"
            android:theme="@style/Theme.HappyBirthDay.Splash2" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:theme="@style/Theme.HappyBirthDay.Splash" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.HappyBirthDay.Splash" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.HappyBirthDay.Splash3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>